*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f6fb;
color:#222;
}

.hero{
height:100vh;
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1400&auto=format&fit=crop');
background-size:cover;
background-position:center;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 60px;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

.hero-content{
text-align:center;
margin-top:140px;
}

.hero-content h2{
font-size:60px;
}

.search-box{
margin-top:30px;
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
}

.search-box input,.search-box select,.search-box button{
padding:14px;
border:none;
border-radius:8px;
}

.search-box button{
background:#2563eb;
color:white;
cursor:pointer;
}

.popular{
padding:60px;
}

.popular h2{
margin-bottom:30px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:white;
border-radius:12px;
overflow:hidden;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.card img{
width:100%;
height:220px;
object-fit:cover;
}

.card h3,.card p{
padding:10px;
}

.result{
padding:40px;
}

.payment{
text-align:center;
padding:60px;
background:#111827;
color:white;
}

.payment button{
padding:15px 25px;
background:#2563eb;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
font-size:18px;
}
